{% load static %}

<!DOCTYPE html>

<div class="topnav">
  <a class="active" href="">Home</a>
  <a href="thankyou/">Restaurant Recommendation</a>
  <a href="#contact">Dish Recommendation</a>
  <a href="#about">About</a>
</div>

<head>
	<title> Restaurant Recommendation for a Cuisine </title>
	<link rel="stylesheet" type="text/css"
		href="{% static 'css/yelp.css' %}">
<h1> Recommendo!  </h1>
<i> <center> A unique Restaurant Recommendation catered to your choice </i> </center>
</head>
<body bgcolor = "lightblue">

		<br>
		<br>

 <font size=4 color=blue> <i> Unfortunately, There are no recommendations for this zip code. would you like to try a different zip code? </font> </i>
<a href = "absoluteCuisineView/"> Go back to search screen </a>

